<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="/css/styles.css">
  <meta charset="utf-8">
  <title></title>
</head>

<body>
  <header>
    <h1>To-Do List App</h1>
  </header>
  <section class="add-todos">
    <form class="" action="/" method="post">
      <div class="todo-list">
        <!-- <label for="">Task: </label> -->
        <input type="text" name="todo" value="" placeholder="Enter Your Task" class="">

        <input class="button-primary" type="submit" value="Add Todo">
      </div>
    </form>
  </section>

<section class="list-todos">
  <h2>Incomplete Tasks</h2>
  <form class="" action="/completed" method="post">
    <div class="">
      {{#todos}}
      <button type="submit" name="completed" value="{{.}}">Done</button>
      <span>{{.}}</span>
      <br>
      {{/todos}}
    </div>
  </form>
</section>

  <section class="completed-todos">
    <h2>Completed Tasks</h2>
    <ul>
      {{#completed}}
        <li>{{.}}</li>
      {{/completed}}
    </ul>
  </section>


</body>

</html>
